@use "global" as *;
.card {
  // size
  display: block;
  // max-width: rem(335);
  width: rem(335);
  // ajustment
  margin: 0 auto;

  @include mq(md) {
    // size
    // width: rem(350);
    width: calc(100% / 3.33);
    // space
    // margin: rem(0);
    margin-right: rem(25);
  }
  @include mq(xl) {
  }
}

//
.card.card__margin-right--off {
  @include mq(md) {
    margin-right: rem(0);
  }
  @include mq(xl) {
  }
}
