@use "global" as *;
.card__badge--text {
  position: absolute;
  z-index: 2;
  top: rem(3);
  left: rem(-4);
  transition: $slow;
  @include mq(md) {
    top: rem(3);
    left: rem(-3);
  }
  @include mq(xl) {
  }
}
