@use "global" as *;
.card__explain {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: $normal;
  font-size: rem(14);
  letter-spacing: rem(1);
  line-height: 1.857;
  color: #333333;
  transition: $slow;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
