@use "global" as *;
.card__title {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: $normal500;
  font-size: rem(18);
  letter-spacing: rem(1);
  line-height: 1.944;
  color: #333333;
  transition: $slow;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
