@use "global" as *;
.card__title--inner {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(18);
  font-weight: $normal500;
  letter-spacing: rem(1);
  line-height: 1.944;
  // space
  padding-bottom: rem(4);

  @include mq(md) {
    // font
  }
  @include mq(xl) {
  }
}
