@use "global" as *;
.overview__contents {
  // ajustment
  text-align: center;
  position: relative;
  z-index: 10;
  // space
  padding-bottom: rem(21);
  // decoration
  background-color: #333;

  @include mq(md) {
    // space
    padding-right: rem(384);
    padding-bottom: rem(0);
    // decoration
    background-color: transparent;
  }
  @include mq(xl) {
  }
}
