@use "global" as *;
.overview__contents--img {
  // size
  display: inline-block;
  max-width: rem(375);
  width: 100%;
  // decoration
  // background-color: #f00;
  // ajustment
  position: relative;
  top: 0;
  left: 0;
  @include mq(md) {
    max-width: rem(557);
    width: 100%;
    margin-left: rem(33);
  }
  @include mq(xl) {
  }
}

.overview__contents--img::before {
  content: "";
  // size
  display: block;
  width: rem(375);
  padding-top: 69.6%;
  @include mq(md) {
    width: rem(557);
    padding-top: 69.83%;
  }
  @include mq(xl) {
  }
}
