@use "global" as *;
.overview__contents-box {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    justify-content: center;
    align-items: center;
    // top: 0;
    max-width: rem(1100);
    margin-right: rem(25);
    margin-left: rem(25);
  }
  @include mq(xl) {
  }
}
