@use "global" as *;
.overview__contetnt--inner {
  // decoration
  background-color: #333;
  // space
  // padding-top: rem(24);
  padding-top: rem(19);
  @include mq(md) {
    padding-top: rem(0);
  }
  @include mq(xl) {
  }
}

.overview__contetnt--inner {
  @include mq(md) {
    text-align: left;
  }
  @include mq(xl) {
  }
}
