@use "global" as *;
.blog__wrap {
  padding-top: rem(50);
  padding-right: rem(20);
  padding-left: rem(20);
  padding-bottom: rem(151);
  background-color: #111;
  @include mq(md) {
    padding-right: rem(90);
    padding-left: rem(90);
    padding-top: rem(209.8);
  }
  @include mq(xl) {
  }
}
