@use "global" as *;
.blog__title--inner {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(20);
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.45;
  // decoration
  color: #fff;
  // ajustment -> `.blog__title--inner::before`
  text-align: center;
  position: relative;
  // space
  padding-bottom: rem(64);

  @include mq(md) {
    // font
    font-size: rem(30);
    letter-spacing: rem(0.5);
    line-height: 0.533;
    // decoration
    color: #fff;
    // space
    padding-bottom: rem(47.4);
  }
  @include mq(xl) {
  }
}

.blog__title--inner::before {
  content: "Blog";
  // size
  display: block;
  // font
  font-family: "Noto Serif JP", serif;
  font-size: rem(50);
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.44;
  // decoration
  color: #f9f871;
  opacity: 0.27;
  // ajustment -> `.blog__title--inner`
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -71%);

  @include mq(md) {
    // font
    font-size: rem(110);
    letter-spacing: rem(2);
    line-height: 1.4363;
    // ajustment -> `.blog__title--inner`
    transform: translate(126%, -44%);
  }
  @include mq(xl) {
  }
}
