@use "global" as *;
.blog__btn {
  border: 0;
  box-shadow: none;
  cursor: pointer;

  position: relative;
  // display: block;
  display: inline-block;
  width: rem(335);
  height: rem(50);
  color: #fff;
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(20);
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.45;
  // decoration
  background: #333;
  overflow: hidden;
  border: solid 1px #fff;
  @include mq(md) {
    // size
    width: rem(360);
    height: rem(60);
    // font
    font-size: rem(16);
  }
  @include mq(xl) {
  }
}

.blog__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: 0.1s;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.blog__btn:hover:before {
  transform: translate3d(0, 0, 0);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// 文字の表示（ホバー時）
.blog__btn:hover span {
  position: relative;
  z-index: 1;
  transition: 0.1s;
  // decoration
  color: #333;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
