@use "global" as *;
.wp-pagenavi {
  clear: both;
  text-align: center;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.wp-pagenavi a,
.wp-pagenavi span {
  color: #fff;
  background-color: #333;
  border: 1px solid #fff;
  padding: rem(8) rem(15);
  margin: rem(0) rem(2);
  white-space: nowrap;
  border-radius: rem(3);
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.wp-pagenavi a:hover {
  color: #333;
  background-color: #f9f871;
  border-color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.wp-pagenavi span.current {
  color: #000;
  background-color: #f9f871;
  border-color: #fff;
  font-weight: bold;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
