@use "global" as *;
.contact__inner {
  // size
  display: inline-block;
  min-width: rem(375);
  width: 100%;
  // decoration
  background-color: #3d3d3d;
  // space
  padding-top: rem(67);
  padding-right: rem(19);
  padding-bottom: rem(64);
  padding-left: rem(19);
  // ajustment
  text-align: center;

  @include mq(md) {
    // size
    display: inline-block;
    max-width: rem(1280);
    width: 100%;
    // ajustment
    // margin: 0 auto;
    // space
    padding-top: rem(148);
    padding-right: rem(0);
    padding-bottom: rem(149);
    padding-left: rem(0);
  }
  @include mq(xl) {
  }
}

// info調整用
.contact__inner.info-contact__inner {
  // space
  padding-top: rem(59);

  @include mq(md) {
    // space
    padding-top: rem(143.2);
  }
  @include mq(xl) {
  }
}

// blog調整用
.contact__inner.blog-contact__inner {
  // space
  padding-top: rem(59);
  @include mq(md) {
    // space
    padding-top: rem(149);
  }
  @include mq(xl) {
  }
}
