@use "global" as *;
.line__body2 {
  // size
  width: 100vw;
  height: rem(2113.36);
  // decoration
  // background-color: #ff4500;
  // expression
  display: inline-block;
  // position
  position: relative;
  top: rem(-2309.7);

  @include mq(md) {
    // size
    width: 100%;
    height: 100%;
    // ajustment
    top: rem(-1349.7);
  }
  @include mq(xl) {
  }
}

// 擬似要素(line__body2:before)
.line__body2::before {
  // content
  content: "";
  // decoration
  background: -moz-linear-gradient(
    -75deg,
    transparent,
    transparent 50.3%,
    #f9f871 50.5%,
    #f9f871 50.5%,
    transparent 50.5%
  );
  background: -webkit-linear-gradient(
    -75deg,
    transparent,
    transparent 50.3%,
    #f9f871 50.5%,
    #f9f871 50.5%,
    transparent 50.5%
  );
  background: linear-gradient(
    -75deg,
    transparent,
    transparent 50.3%,
    #f9f871 50.5%,
    #f9f871 50.5%,
    transparent 50.5%
  );

  // size
  width: 100%;
  height: rem(2113.36);
  // position
  position: absolute;
  // z-index: 5;
  top: rem(564);
  left: rem(0);

  @include mq(md) {
    // size
    width: 100%;
    height: 100%;
    // ajustment
    position: absolute;
    // top: rem(0);
    top: rem(14.4);
    left: 0;

    // decoration
    background: -moz-linear-gradient(
      -45deg,
      transparent,
      transparent 50.3%,
      #f9f871 50.5%,
      #f9f871 50.5%,
      transparent 50.5%
    );
    background: -webkit-linear-gradient(
      -45deg,
      transparent,
      transparent 50.3%,
      #f9f871 50.5%,
      #f9f871 50.5%,
      transparent 50.5%
    );
    background: linear-gradient(
      -45deg,
      transparent,
      transparent 50.3%,
      #f9f871 50.5%,
      #f9f871 50.5%,
      transparent 50.5%
    );
  }

  @include mq(xl) {
  }
}
