@use "global" as *;
.line__body2 {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f9f871;
  // background-color: #f00;
  position: absolute;
  top: 36.9%;
  transform: skewY(105deg);
  @include mq(md) {
    top: 41.9%;
    transform: skewY(135deg);
  }
  @include mq(xl) {
  }
}
