@use "global" as *;
.line__inner {
  // size
  display: inline-block;
  min-width: rem(375);
  width: 100%;
  height: rem(2113.36);
  // ajustment
  position: relative;
  top: rem(1085);
  left: 0;

  @include mq(md) {
    // size
    max-width: rem(1280);
    width: 100%;
  }
  @include mq(xl) {
  }
}
