@use "global" as *;
.header {
  // size
  display: inline-block;
  min-width: rem(375);
  width: 100%;
  height: rem(50);
  // ajustment
  position: fixed;
  inset: 0;
  // margin: auto;
  z-index: 99;

  @include mq(md) {
    // size
    display: block;
    max-width: rem(1280);
    width: 100%;
    // ajustment
    margin: 0 auto;
  }
  @include mq(xl) {
  }
}
