@use "global" as *;
.info-pagenation {
  display: none;

  @include mq(md) {
    display: block;
    // ajustment
    text-align: center;
  }
  @include mq(xl) {
  }
}

// blog
.info-pagenation.blog-pagenation {
  display: block;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
