@use "global" as *;
.mv__title {
  // size
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: rem(375);
  width: 100%;
  height: 100vh;
  // ajustment
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
