@use "global" as *;
.works__contents {
  // size
  width: 100%;
  // space
  // decoration
  background-color: #111;
  // ajustment
  position: relative;
  z-index: 10;

  @include mq(md) {
    // decoration
    // space
    padding-left: rem(384);
  }
  @include mq(xl) {
  }
}
