@use "global" as *;
.works {
  // size
  min-width: rem(375);
  width: 100%;
  // ajustment
  margin: 0 auto;
  @include mq(md) {
    // size
    max-width: rem(1280);
    width: 100%;
  }
  @include mq(xl) {
  }
}
