@use "global" as *;
.works__content--inner {
  padding-right: rem(20);
  padding-left: rem(20);
  padding-bottom: rem(21);

  @include mq(md) {
    // ajustment
    text-align: left;
    padding-left: rem(32);
    padding-right: rem(0);
    padding-bottom: 0;
  }
  @include mq(xl) {
  }
}
