@use "global" as *;
.works__btn {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(20);
  font-weight: $normal;
  letter-spacing: rem(2);
  line-height: 1.45;

  border: 0;
  box-shadow: none;
  cursor: pointer;

  position: relative;
  // display: block;
  display: inline-block;
  max-width: 360px;
  width: 100%;
  height: 50px;
  // decoration
  color: #fff;
  background: #333;
  overflow: hidden;
  border: solid 1px #fff;
  @include mq(md) {
    // font
    font-size: rem(16);
    font-weight: 500;
    letter-spacing: rem(2);
    line-height: 3.375;
    // size
    width: rem(360);
    height: rem(60);
  }
  @include mq(xl) {
  }
}

.works__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.works__btn:hover:before {
  transform: translate3d(0, 0, 0);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// 文字の表示（ホバー時）
.works__btn:hover span {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  color: #333;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
