@use "global" as *;
.works__content--inner {
  // space
  padding-right: rem(20);
  padding-left: rem(20);
  padding-bottom: rem(21);

  @include mq(md) {
    // ajustment
    text-align: left;
  }
  @include mq(xl) {
  }
}
