@use "global" as *;
.works__swiper--box-inner {
  // size
  margin-bottom: rem(25);
  // ajustment
  position: relative;
  @include mq(md) {
    // size
    width: rem(557);
    height: rem(389);
  }
  @include mq(xl) {
  }
}
