@use "global" as *;
.works__contents--inner {
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
  }
  @include mq(xl) {
  }
}
