@use "global" as *;
.footer__li {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(16);
  font-weight: $normal;
  letter-spacing: rem(1.2);
  line-height: 1.4375;
  // decoration
  color: #fff;
  // space
  padding-bottom: rem(8);
  @include mq(md) {
    // space
    padding-bottom: rem(0);
    // padding-right: rem(32);
    // padding-right: rem(0);
    margin-left: rem(33.76);
  }
  @include mq(xl) {
  }
}

.footer__li:last-child {
  // space
  padding-right: rem(0);
  padding-bottom: rem(0);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.footer__li a {
  // size
  display: block;
  width: 100%;
  height: 100%;
  @include mq(md) {
    // ajustment -> `.footre__li a::after`
    position: relative;
  }
  @include mq(xl) {
  }
}

.footer__li a::after {
  @include mq(md) {
    content: "";
    // size
    display: block;
    width: 100%;
    height: rem(2);
    // ajustment -> `.footre__li a`
    position: absolute;
    bottom: rem(-4);
    left: 0;
  }
  @include mq(xl) {
  }
}

.footer__li a:hover::after {
  @include mq(md) {
    // decoration
    border: 1px solid #ffea2e;
  }
  @include mq(xl) {
  }
}

// sp list off
.footer__li--spOff {
  display: none;
  @include mq(md) {
    display: block;
  }
  @include mq(xl) {
  }
}

// pc list off
.footer__li--pcOff {
  @include mq(md) {
    display: none;
  }
  @include mq(xl) {
  }
}
