@use "global" as *;
.footer__title--inner {
  display: none;
  @include mq(md) {
    // siza
    display: block;
    max-width: rem(70);
    width: 100%;
    max-height: rem(39);
    height: 100%;
  }
  @include mq(xl) {
  }
}

.footer__title--inner::before {
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.footer__title--inner.info-footer__title--inner {
  // siza
  display: block;
  max-width: rem(70);
  width: 100%;
  max-height: rem(39);
  height: 100%;
  margin: 0 auto;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}

// blog調整用
.footer__title--inner.blog-footer__title--inner {
  // siza
  display: block;
  max-width: rem(70);
  width: 100%;
  max-height: rem(39);
  height: 100%;
  margin: 0 auto;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
