@use "global" as *;
.footer__contents {
  // space
  padding-bottom: rem(27);
  @include mq(md) {
    // space
    padding-bottom: rem(73.4);
  }
  @include mq(xl) {
  }
}

// blog調整用
.footer__contents.blog-footer__contents {
  @include mq(md) {
    // space
    padding-bottom: rem(76);
  }
  @include mq(xl) {
  }
}

// info調整用
.footer__contents.info-footer__contents {
  // space
  padding-bottom: rem(28);
  @include mq(md) {
    // space
    padding-bottom: rem(86);
  }

  @include mq(xl) {
  }
}
