@use "global" as *;
.drawer-menu {
  // size
  display: inline-block;
  // ajustment
  position: relative;
  z-index: 99;
  @include mq(md) {
    // ajustment
    display: none;
  }
  @include mq(xl) {
  }
}

.drawer-menu:hover {
  cursor: pointer;
}
