@use "global" as *;
.drawer-menu__inner {
  // size
  width: rem(68);
  height: rem(50);
  // ajustment
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // decoration
  // background-color: #111;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner span {
  // size
  display: block;
  width: 25px;
  height: 2px;
  // decoration
  background-color: #fff;
  // ajustment
  position: relative;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner span::before {
  content: "";
  // size
  display: block;
  width: 25px;
  height: 2px;
  // decoration
  background-color: #fff;
  // ajustment
  position: absolute;
  top: -7px;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner span::after {
  content: "";
  // size
  display: block;
  width: 25px;
  height: 2px;
  // decoration
  background-color: #fff;
  // ajustment
  position: absolute;
  bottom: -7px;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner.open span {
  // ajustment
  background-color: rgba(255, 255, 255, 0);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner.open span::before {
  // ajustment
  top: 0;
  transform: rotate(45deg);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.drawer-menu__inner.open span::after {
  // ajustmemt
  bottom: 0;
  transform: rotate(-45deg);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
